<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Dist:</strong>
  <%= @location.dist %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @location.postalcode %>
</p>

<p>
  <strong>About:</strong>
  <%= @location.about %>
</p>
<div id="map"></div>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
<%= link_to "Find Locations Near #{@location.name}", find_near_by_locations_location_path(@location) %>

<script>
  function initMap() {
    var lat = <%= @location.latitude %>
    var lng = <%= @location.longitude %>
    var uluru = {lat, lng};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeSvhkr3LSzKwbJp6HV5bNvBfNk9RJ85U&callback=initMap"></script>

<style type="text/css">
  #map {
    height: 400px;
    width: 500px;
  }
</style>